<a href="https://colab.research.google.com/github/martin-fabbri/colab-notebooks/blob/master/rapids-cuDF-01-intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Setup:

1. Use pynvml to confirm Colab allocated you a Tesla T4 GPU.
2. Install most recent Miniconda release compatible with Google Colab's Python install  (3.6.7)
3. Install RAPIDS libraries
4. Copy RAPIDS .so files into current working directory, a workaround for conda/colab interactions
5. Update env variables so Python can find and use RAPIDS artifacts

All of the above steps are automated in the next cell.

You should re-run this cell any time your instance re-starts.

In [1]:
!nvidia-smi

Wed Sep 11 00:28:58 2019
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 430.40       Driver Version: 418.67       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   72C    P0    31W /  70W |      0MiB / 15079MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                       GPU Memory |
|  GPU       PID   Type   Process name                             Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [2]:
!wget -nc https://github.com/rapidsai/notebooks-extended/raw/master/utils/rapids-colab.sh
!bash rapids-colab.sh

import sys, os

sys.path.append('/usr/local/lib/python3.6/site-packages/')
os.environ['NUMBAPRO_NVVM'] = '/usr/local/cuda/nvvm/lib64/libnvvm.so'
os.environ['NUMBAPRO_LIBDEVICE'] = '/usr/local/cuda/nvvm/libdevice/'

--2019-09-11 00:29:03--  https://github.com/rapidsai/notebooks-extended/raw/master/utils/rapids-colab.sh
Resolving github.com (github.com)... 140.82.118.4
Connecting to github.com (github.com)|140.82.118.4|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/rapidsai/notebooks-contrib/raw/master/utils/rapids-colab.sh [following]
--2019-09-11 00:29:04--  https://github.com/rapidsai/notebooks-contrib/raw/master/utils/rapids-colab.sh
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/rapidsai/notebooks-contrib/master/utils/rapids-colab.sh [following]
--2019-09-11 00:29:04--  https://raw.githubusercontent.com/rapidsai/notebooks-contrib/master/utils/rapids-colab.sh
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1609 (1.6K) [text/plain]
Saving to: ‘rapids-colab.sh’

rapids-colab.sh     100%[===================>]   1.57K  --.-KB/s    in 0s

2019-09-11 00:29:04 (275 MB/s) - ‘rapids-colab.sh’ saved [1609/1609]

--2019-09-11 00:29:05--  https://github.com/rapidsai/notebooks-extended/raw/master/utils/env-check.py
Resolving github.com (github.com)... 140.82.118.4
Connecting to github.com (github.com)|140.82.118.4|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://github.com/rapidsai/notebooks-contrib/raw/master/utils/env-check.py [following]
--2019-09-11 00:29:05--  https://github.com/rapidsai/notebooks-contrib/raw/master/utils/env-check.py
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/rapidsai/notebooks-contrib/master/utils/env-check.py [following]
--2019-09-11 00:29:06--  https://raw.githubusercontent.com/rapidsai/notebooks-contrib/master/utils/env-check.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 783 [text/plain]
Saving to: ‘env-check.py’

env-check.py        100%[===================>]     783  --.-KB/s    in 0s

2019-09-11 00:29:06 (27.2 MB/s) - ‘env-check.py’ saved [783/783]

Checking for GPU type:
*********************************************
Woo! Your instance has the right kind of GPU!
*********************************************

Removing conflicting packages, will replace with RAPIDS compatible versions
Uninstalling xgboost-0.90:
  Successfully uninstalled xgboost-0.90
Uninstalling dask-1.1.5:
  Successfully uninstalled dask-1.1.5
Uninstalling distributed-1.25.3:
  Successfully uninstalled distributed-1.25.3
Installing conda
--2019-09-11 00:29:10--  https://repo.continuum.io/miniconda/Miniconda3-4.5.4-Linux-x86_64.sh
Resolving repo.continuum.io (repo.continuum.io)... 104.18.200.79, 104.18.201.79, 2606:4700::6812:c84f, ...
Connecting to repo.continuum.io (repo.continuum.io)|104.18.200.79|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 58468498 (56M) [application/x-sh]
Saving to: ‘Miniconda3-4.5.4-Linux-x86_64.sh’

Miniconda3-4.5.4-Li 100%[===================>]  55.76M  79.7MB/s    in 0.7s

2019-09-11 00:29:11 (79.7 MB/s) - ‘Miniconda3-4.5.4-Linux-x86_64.sh’ saved [58468498/58468498]

PREFIX=/usr/local
installing: python-3.6.5-hc3d631a_2 ...
Python 3.6.5 :: Anaconda, Inc.
installing: ca-certificates-2018.03.07-0 ...
installing: conda-env-2.6.0-h36134e3_1 ...
installing: libgcc-ng-7.2.0-hdf63c60_3 ...
installing: libstdcxx-ng-7.2.0-hdf63c60_3 ...
installing: libffi-3.2.1-hd88cf55_4 ...
installing: ncurses-6.1-hf484d3e_0 ...
installing: openssl-1.0.2o-h20670df_0 ...
installing: tk-8.6.7-hc745277_3 ...
installing: xz-5.2.4-h14c3975_4 ...
installing: yaml-0.1.7-had09818_2 ...
installing: zlib-1.2.11-ha838bed_2 ...
installing: libedit-3.1.20170329-h6b74fdf_2 ...
installing: readline-7.0-ha6073c6_4 ...
installing: sqlite-3.23.1-he433501_0 ...
installing: asn1crypto-0.24.0-py36_0 ...
installing: certifi-2018.4.16-py36_0 ...
installing: chardet-3.0.4-py36h0f667ec_1 ...
installing: idna-2.6-py36h82fb2a8_1 ...
installing: pycosat-0.6.3-py36h0a5515d_0 ...
installing: pycparser-2.18-py36hf9f622e_1 ...
installing: pysocks-1.6.8-py36_0 ...
installing: ruamel_yaml-0.15.37-py36h14c3975_2 ...
installing: six-1.11.0-py36h372c433_1 ...
installing: cffi-1.11.5-py36h9745a5d_0 ...
installing: setuptools-39.2.0-py36_0 ...
installing: cryptography-2.2.2-py36h14c3975_0 ...
installing: wheel-0.31.1-py36_0 ...
installing: pip-10.0.1-py36_0 ...
installing: pyopenssl-18.0.0-py36_0 ...
installing: urllib3-1.22-py36hbe7ace6_0 ...
installing: requests-2.18.4-py36he2e5f8d_1 ...
installing: conda-4.5.4-py36_0 ...
installation finished.
WARNING:
    You currently have a PYTHONPATH environment variable set. This may cause
    unexpected behavior when running the Python interpreter in Miniconda3.
    For best results, please verify that your PYTHONPATH only points to
    directories of packages that are compatible with the Python interpreter
    in Miniconda3: /usr/local
Installing RAPIDS 0.10 packages
Please standby, this will take a few minutes...


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.4
  latest version: 4.7.11

Please update conda by running

    $ conda update -n base conda


readline-8.0         |  441 KB | : 100% 1.0/1 [00:00<00:00,  8.42it/s]
python-dateutil-2.8. |  219 KB | : 100% 1.0/1 [00:00<00:00, 16.89it/s]
numba-0.45.1         |  3.1 MB | : 100% 1.0/1 [00:00<00:00,  1.12it/s]
msgpack-python-0.6.1 |   89 KB | : 100% 1.0/1 [00:00<00:00, 23.15it/s]
lz4-c-1.8.3          |  187 KB | : 100% 1.0/1 [00:00<00:00, 14.23it/s]
cryptography-2.7     |  607 KB | : 100% 1.0/1 [00:00<00:00,  5.02it/s]
gflags-2.2.2         |  177 KB | : 100% 1.0/1 [00:00<00:00, 13.68it/s]
yaml-0.1.7           |   78 KB | : 100% 1.0/1 [00:00<00:00, 24.44it/s]
chardet-3.0.4        |  190 KB | : 100% 1.0/1 [00:00<00:00, 13.37it/s]
libxgboost-0.90.rapi | 32.8 MB | : 100% 1.0/1 [00:09<00:00,  9.16s/it]
numpy-1.17.2         |  5.2 MB | : 100% 1.0/1 [00:01<00:00,  1.06s/it]
icu-64.2             | 12.6 MB | : 100% 1.0/1 [00:01<00:00,  1.88s/it]
pyparsing-2.4.2      |   57 KB | : 100% 1.0/1 [00:00<00:00, 27.17it/s]
markupsafe-1.1.1     |   26 KB | : 100% 1.0/1 [00:00<00:00, 30.63it/s]
bokeh-1.3.4          |  4.0 MB | : 100% 1.0/1 [00:01<00:00,  1.28s/it]
re2-2019.09.01       |  431 KB | : 100% 1.0/1 [00:00<00:00, 10.18it/s]
double-conversion-3. |   85 KB | : 100% 1.0/1 [00:00<00:00, 24.03it/s]
requests-2.22.0      |   84 KB | : 100% 1.0/1 [00:00<00:00, 19.90it/s]
libcudf-0.10.0a      | 27.8 MB | : 100% 1.0/1 [00:07<00:00,  7.24s/it]
six-1.12.0           |   22 KB | : 100% 1.0/1 [00:00<00:00, 27.68it/s]
certifi-2019.6.16    |  149 KB | : 100% 1.0/1 [00:00<00:00, 22.81it/s]
libcumlprims-0.9.0   |  3.9 MB | : 100% 1.0/1 [00:01<00:00,  1.19s/it]
gcsfs-0.3.0          |   19 KB | : 100% 1.0/1 [00:00<00:00, 33.87it/s]
distributed-2.3.2    |  370 KB | : 100% 1.0/1 [00:00<00:00,  6.68it/s]
libnvstrings-0.10.0a | 24.7 MB | : 100% 1.0/1 [00:05<00:00,  5.42s/it]
libtiff-4.0.10       |  587 KB | : 100% 1.0/1 [00:00<00:00,  7.74it/s]
cloudpickle-1.2.2    |   23 KB | : 100% 1.0/1 [00:00<00:00, 29.74it/s]
cudf-0.10.0a         |  4.8 MB | : 100% 1.0/1 [00:01<00:00,  1.57s/it]
google-auth-oauthlib |   18 KB | : 100% 1.0/1 [00:00<00:00, 26.23it/s]
py-xgboost-0.90.rapi |   86 KB | : 100% 1.0/1 [00:00<00:00,  1.56it/s]
arrow-cpp-0.14.1     | 17.3 MB | : 100% 1.0/1 [00:02<00:00,  2.63s/it]
libgfortran-ng-7.3.0 |  1.3 MB | : 100% 1.0/1 [00:00<00:00,  4.38it/s]
bzip2-1.0.8          |  397 KB | : 100% 1.0/1 [00:00<00:00, 11.01it/s]
parquet-cpp-1.5.1    |    3 KB | : 100% 1.0/1 [00:00<00:00, 43.87it/s]
pytz-2019.2          |  228 KB | : 100% 1.0/1 [00:00<00:00,  3.79it/s]
idna-2.8             |  132 KB | : 100% 1.0/1 [00:00<00:00, 17.32it/s]
librmm-0.10.0a       |   44 KB | : 100% 1.0/1 [00:00<00:00,  3.66it/s]
urllib3-1.25.3       |  187 KB | : 100% 1.0/1 [00:00<00:00, 11.25it/s]
dask-2.3.0           |    4 KB | : 100% 1.0/1 [00:00<00:00,  1.78it/s]
libopenblas-0.3.7    |  7.6 MB | : 100% 1.0/1 [00:01<00:00,  1.22s/it]
pynvml-8.0.3         |   30 KB | : 100% 1.0/1 [00:00<00:00, 30.14it/s]
libffi-3.2.1         |   46 KB | : 100% 1.0/1 [00:00<00:00, 27.02it/s]
liblapack-3.8.0      |   10 KB | : 100% 1.0/1 [00:00<00:00, 28.24it/s]
setuptools-41.2.0    |  634 KB | : 100% 1.0/1 [00:00<00:00,  5.51it/s]
fsspec-0.4.4         |   39 KB | : 100% 1.0/1 [00:00<00:00, 27.03it/s]
pyarrow-0.14.1       |  2.8 MB | : 100% 1.0/1 [00:00<00:00,  1.37it/s]
zstd-1.4.0           |  928 KB | : 100% 1.0/1 [00:00<00:00,  6.33it/s]
c-ares-1.15.0        |  100 KB | : 100% 1.0/1 [00:00<00:00, 23.13it/s]
brotli-1.0.7         |  1.0 MB | : 100% 1.0/1 [00:00<00:00,  6.30it/s]
ncurses-6.1          |  1.3 MB | : 100% 1.0/1 [00:00<00:00,  1.30it/s]
cython-0.29.13       |  2.2 MB | : 100% 1.0/1 [00:00<00:00,  2.04it/s]
requests-oauthlib-1. |   19 KB | : 100% 1.0/1 [00:00<00:00, 34.01it/s]
dask-core-2.3.0      |  574 KB | : 100% 1.0/1 [00:00<00:00,  5.56it/s]
partd-1.0.0          |   16 KB | : 100% 1.0/1 [00:00<00:00, 21.79it/s]
dlpack-0.2           |   12 KB | : 100% 1.0/1 [00:00<00:00, 40.72it/s]
pyjwt-1.7.1          |   17 KB | : 100% 1.0/1 [00:00<00:00, 34.20it/s]
click-7.0            |   61 KB | : 100% 1.0/1 [00:00<00:00, 25.87it/s]
libpng-1.6.37        |  343 KB | : 100% 1.0/1 [00:00<00:00, 11.80it/s]
libcblas-3.8.0       |   10 KB | : 100% 1.0/1 [00:00<00:00, 32.86it/s]
rsa-3.4.2            |   31 KB | : 100% 1.0/1 [00:00<00:00,  1.95it/s]
oauthlib-3.0.1       |   82 KB | : 100% 1.0/1 [00:00<00:00, 16.12it/s]
decorator-4.4.0      |   11 KB | : 100% 1.0/1 [00:00<00:00, 39.33it/s]
libstdcxx-ng-9.1.0   |  4.0 MB | : 100% 1.0/1 [00:00<00:00,  1.65it/s]
libcugraph-0.10.0a   | 11.2 MB | : 100% 1.0/1 [00:02<00:00,  2.98s/it]
xgboost-0.90.rapidsd |   11 KB | : 100% 1.0/1 [00:00<00:00,  3.77it/s]
sqlite-3.29.0        |  1.9 MB | : 100% 1.0/1 [00:00<00:00,  3.46it/s]
cudatoolkit-10.0.130 | 380.0 MB | : 100% 1.0/1 [00:45<00:00, 45.90s/it]
pysocks-1.7.0        |   26 KB | : 100% 1.0/1 [00:00<00:00, 22.16it/s]
libgcc-ng-9.1.0      |  8.1 MB | : 100% 1.0/1 [00:01<00:00,  1.11s/it]
cffi-1.12.3          |  218 KB | : 100% 1.0/1 [00:00<00:00, 13.70it/s]
zict-1.0.0           |   10 KB | : 100% 1.0/1 [00:00<00:00, 32.92it/s]
cugraph-0.10.0a      |  1.3 MB | : 100% 1.0/1 [00:01<00:00,  1.57s/it]
cytoolz-0.10.0       |  429 KB | : 100% 1.0/1 [00:00<00:00,  8.87it/s]
glog-0.4.0           |  104 KB | : 100% 1.0/1 [00:00<00:00, 22.95it/s]
libevent-2.1.10      |  1.3 MB | : 100% 1.0/1 [00:00<00:00,  2.85it/s]
thrift-cpp-0.12.0    |  2.4 MB | : 100% 1.0/1 [00:00<00:00,  2.21it/s]
uriparser-0.9.3      |   49 KB | : 100% 1.0/1 [00:00<00:00, 21.82it/s]
scikit-learn-0.21.3  |  6.7 MB | : 100% 1.0/1 [00:01<00:00,  1.43s/it]
wheel-0.33.6         |   35 KB | : 100% 1.0/1 [00:00<00:00, 27.91it/s]
tornado-6.0.3        |  636 KB | : 100% 1.0/1 [00:00<00:00,  5.44it/s]
ca-certificates-2019 |  145 KB | : 100% 1.0/1 [00:00<00:00, 22.04it/s]
nvstrings-0.10.0a    |  125 KB | : 100% 1.0/1 [00:00<00:00,  3.01it/s]
scipy-1.3.1          | 18.1 MB | : 100% 1.0/1 [00:03<00:00,  3.00s/it]
libblas-3.8.0        |   10 KB | : 100% 1.0/1 [00:00<00:00, 35.32it/s]
snappy-1.1.7         |   39 KB | : 100% 1.0/1 [00:00<00:00, 28.94it/s]
jpeg-9c              |  251 KB | : 100% 1.0/1 [00:00<00:00, 14.32it/s]
pandas-0.24.2        | 11.1 MB | : 100% 1.0/1 [00:02<00:00,  2.33s/it]
pyasn1-0.4.6         |   52 KB | : 100% 1.0/1 [00:00<00:00, 20.18it/s]
sortedcontainers-2.1 |   25 KB | : 100% 1.0/1 [00:00<00:00, 33.88it/s]
fastavro-0.22.4      |  405 KB | : 100% 1.0/1 [00:00<00:00, 10.22it/s]
cachetools-2.1.0     |   10 KB | : 100% 1.0/1 [00:00<00:00, 33.73it/s]
jinja2-2.10.1        |   91 KB | : 100% 1.0/1 [00:00<00:00, 20.04it/s]
pycparser-2.19       |  173 KB | : 100% 1.0/1 [00:00<00:00, 13.93it/s]
psutil-5.6.3         |  322 KB | : 100% 1.0/1 [00:00<00:00, 10.52it/s]
tblib-1.4.0          |   12 KB | : 100% 1.0/1 [00:00<00:00, 26.01it/s]
pyasn1-modules-0.2.6 |   47 KB | : 100% 1.0/1 [00:00<00:00, 19.84it/s]
pyopenssl-19.0.0     |   81 KB | : 100% 1.0/1 [00:00<00:00, 21.81it/s]
freetype-2.10.0      |  884 KB | : 100% 1.0/1 [00:00<00:00,  6.25it/s]
cuml-0.10.0a         |  6.0 MB | : 100% 1.0/1 [00:02<00:00,  2.62s/it]
rmm-0.10.0a          |   14 KB | : 100% 1.0/1 [00:00<00:00,  3.79it/s]
python-3.6.7         | 34.6 MB | : 100% 1.0/1 [00:04<00:00,  4.81s/it]
nccl-2.4.6.1         | 66.6 MB | : 100% 1.0/1 [00:10<00:00, 10.18s/it]
libprotobuf-3.8.0    |  4.7 MB | : 100% 1.0/1 [00:00<00:00,  1.12it/s]
heapdict-1.0.0       |    7 KB | : 100% 1.0/1 [00:00<00:00, 32.33it/s]
asn1crypto-0.24.0    |  154 KB | : 100% 1.0/1 [00:00<00:00, 14.93it/s]
dask-cudf-0.10.0a    |   63 KB | : 100% 1.0/1 [00:00<00:00,  1.26it/s]
xz-5.2.4             |  366 KB | : 100% 1.0/1 [00:00<00:00,  9.49it/s]
boost-cpp-1.70.0     | 21.1 MB | : 100% 1.0/1 [00:08<00:00,  8.50s/it]
openssl-1.1.1c       |  2.1 MB | : 100% 1.0/1 [00:00<00:00,  2.97it/s]
packaging-19.0       |   23 KB | : 100% 1.0/1 [00:00<00:00, 21.34it/s]
llvmlite-0.29.0      | 19.9 MB | : 100% 1.0/1 [00:02<00:00,  2.96s/it]
zlib-1.2.11          |  105 KB | : 100% 1.0/1 [00:00<00:00, 24.18it/s]
libcuml-0.10.0a      | 29.3 MB | : 100% 1.0/1 [00:20<00:00, 20.67s/it]
pip-19.2.3           |  1.9 MB | : 100% 1.0/1 [00:01<00:00,  1.26s/it]
_libgcc_mutex-0.1    |    3 KB | : 100% 1.0/1 [00:00<00:00, 40.96it/s]
olefile-0.46         |   31 KB | : 100% 1.0/1 [00:00<00:00, 27.43it/s]
pillow-6.1.0         |  634 KB | : 100% 1.0/1 [00:00<00:00,  5.65it/s]
blinker-1.4          |   13 KB | : 100% 1.0/1 [00:00<00:00, 31.74it/s]
google-auth-1.6.3    |   45 KB | : 100% 1.0/1 [00:00<00:00, 22.28it/s]
grpc-cpp-1.23.0      |  4.5 MB | : 100% 1.0/1 [00:00<00:00,  1.09it/s]
toolz-0.10.0         |   46 KB | : 100% 1.0/1 [00:00<00:00, 25.57it/s]
locket-0.2.0         |    6 KB | : 100% 1.0/1 [00:00<00:00, 34.38it/s]
dask-cuml-0.8.0a     |   30 KB | : 100% 1.0/1 [00:00<00:00,  1.06s/it]
tk-8.6.9             |  3.2 MB | : 100% 1.0/1 [00:00<00:00,  1.64it/s]
dask-cuda-0.10.0a    |  924 KB | : 100% 1.0/1 [00:01<00:00,  1.16s/it]
joblib-0.13.2        |  180 KB | : 100% 1.0/1 [00:00<00:00, 11.15it/s]
pyyaml-5.1.2         |  184 KB | : 100% 1.0/1 [00:00<00:00, 15.95it/s]
Copying shared object files to /usr/lib

*********************************************
Your Google Colab instance is RAPIDS ready!
*********************************************

# RAPIDS Examples #

Now you can run code! 

What follows are basic examples where all processing takes place on the GPU.

## Required Imports

In [0]:
import cudf
import pandas as pd
import numpy as np
import math
import os

# cuDF Series

---
Creating a cudf.Series

In [26]:
s = cudf.Series([1, 2, 3, None, 4])
print(s)

0       1
1       2
2       3
3    null
4       4
dtype: int64

Creating a cudf dataframe

In [27]:
df = cudf.DataFrame([('a', list(range(20))), ('b', list(reversed(range(20)))), ('c', list(range(30, 50)))])
df.head(5)

   a   b   c
0  0  19  30
1  1  18  31
2  2  17  32
3  3  16  33
4  4  15  34

Create a cudf dataframe from a pd.dataframe

In [28]:
pdf = pd.DataFrame({'a': [0, 1, 2, 3], 'b': [0.0, 0.1, None, 0.2]})
print('Panda df:', pdf.info())

cdf = cudf.DataFrame.from_pandas(pdf)
cdf.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
a    4 non-null int64
b    3 non-null float64
dtypes: float64(1), int64(1)
memory usage: 144.0 bytes
Panda df: None

   a    b
0  0  0.0
1  1  0.1

## cuDF Dataframe Basics

Object Creation

In [29]:
pdf = pd.DataFrame({'a': [0, 1, 2, 3, 4],'b': [0.1, 0.2, None, 0.3, 0.5]})
cdf = cudf.DataFrame.from_pandas(pdf)
print(cdf)

   a     b
0  0   0.1
1  1   0.2
2  2  null
3  3   0.3
4  4   0.5

Sorting values

In [30]:
pdf.sort_values(by='b')
cdf.sort_values(by='b')

   a     b
0  0   0.1
1  1   0.2
3  3   0.3
4  4   0.5
2  2  null

Selection

In [31]:
pdf['a'].head(3)
cdf['a'].head(3)

0    0
1    1
2    2
Name: a, dtype: int64

Selection by label

In [32]:
cdf.loc[:1, ['a', 'b']]

   a    b
0  0  0.1
1  1  0.2

Selection by position

In [33]:
pdf.iloc[0]

a    0.0
b    0.1
Name: 0, dtype: float64

In [34]:
print(cdf.iloc[0])
print(cdf.iloc[1:3])

a    0.0
b    0.1
Name: 0, dtype: float64
   a     b
1  1   0.2
2  2  null

### Boolean Indexing

Selecting rows in a DataFrame or Series by boolean indexing.

In [35]:
print(cdf[cdf.a > 1.5])

   a     b
2  2  null
3  3   0.3
4  4   0.5

In [36]:
print(cdf.query("b >= 0.3 and b <= 0.5"))

   a    b
3  3  0.3
4  4  0.5

In [37]:
val = 2
cdf.query("a != @val")

   a    b
0  0  0.1
1  1  0.2
3  3  0.3
4  4  0.5

### Missing Data

In [38]:
print(cdf.fillna(0))

   a    b
0  0  0.1
1  1  0.2
2  2  0.0
3  3  0.3
4  4  0.5

### Operations

In [40]:
s = cudf.Series(np.arange(10)).astype(np.float32)
print(s.mean(), s.var())

4.5 9.166666666666668

In [0]:
def add_ten(num):
  return num + 10

# s.applymap(add_ten)

In [0]:
def complex_math_transform(num):
    return math.cos(num) * 3 / 9

# print(s.applymap(complex_math_transform))

### String Methods

In [43]:
s = cudf.Series(['A', 'B', 'C', 'AaBb', 'Baca', None, 'CABA', 'dog', 'cat'])
s.str.lower().head(3)

0    a
1    b
2    c
dtype: object

### Concat

In [44]:
s = cudf.Series([1, 2, 3, None, 5])
cudf.concat([s, s])

0       1
1       2
2       3
3    null
4       5
0       1
1       2
2       3
3    null
4       5
dtype: int64

### Append

In [45]:
s.append(s)

0       1
1       2
2       3
3    null
4       5
0       1
1       2
2       3
3    null
4       5
dtype: int64

### Grouping

Like pandas, cuDF supports the Split-Apply-Combine grouping paradigm.

In [53]:
cdf['agg_col1'] = [1 if x % 2 == 0 else 0 for x in range(len(cdf))]
cdf

   a     b  agg_col1
0  0   0.0         1
1  1   0.1         0
2  2  null         1
3  3   0.2         0

In [54]:
cdf.groupby('agg_col1').sum()

          a    b
agg_col1
0         4  0.3
1         2  0.0

In [56]:
cdf.groupby('agg_col1').agg({'a':'max', 'b':'mean'})

          a     b
agg_col1
0         3  0.15
1         2  0.00

### Time Series

In [57]:
date_df = cudf.DataFrame()
date_df['date'] = pd.date_range('11/20/2018', periods=72, freq='D')
date_df['value'] = np.random.sample(len(date_df))
date_df.head()

        date     value
0 2018-11-20  0.474169
1 2018-11-21  0.911718
2 2018-11-22  0.841736
3 2018-11-23  0.114351
4 2018-11-24  0.126640

In [60]:
date_df['minute'] = date_df.date.dt.minute
date_df.head()

        date     value  minute
0 2018-11-20  0.474169       0
1 2018-11-21  0.911718       0
2 2018-11-22  0.841736       0
3 2018-11-23  0.114351       0
4 2018-11-24  0.126640       0

### Converting data representation

To Pandas

In [62]:
df.head().to_pandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
a           5 non-null int64
b           5 non-null int64
c           5 non-null int64
agg_col1    5 non-null int64
dtypes: int64(4)
memory usage: 240.0 bytes

To Numpy

In [65]:
df.as_matrix()[:3]

array([[ 0, 19, 30,  1],
       [ 1, 18, 31,  0],
       [ 2, 17, 32,  1]])

Converting a cuDF series to a numpy ndarray

In [66]:
df['a'].to_array()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

### Getting data In/Out

Writting to a CSV file, by first sending data to a Pandas dataframe on the host

In [0]:
if not os.path.exists('example_output'):
  os.mkdir('example_output')
  
df.to_pandas().to_csv('example_output/foo.csv', index=False)

Reading from a csv file

In [70]:
df = cudf.read_csv('example_output/foo.csv')
df.head()

   a   b   c  agg_col1
0  0  19  30         1
1  1  18  31         0
2  2  17  32         1
3  3  16  33         0
4  4  15  34         1

#[cuDF](https://github.com/rapidsai/cudf)#

Load a dataset into a GPU memory resident DataFrame and perform a basic calculation.

Everything from CSV parsing to calculating tip percentage and computing a grouped average is done on the GPU.

In [0]:
tips_df = cudf.read_csv("https://github.com/plotly/datasets/raw/master/tips.csv")
tips_df['tip_percentage'] = tips_df['tip']/tips_df['total_bill']*100

# display average tip by dining party size
print(tips_df.groupby('size').tip_percentage.mean())

size
1    21.729202
2    16.571919
3    15.215685
4    14.594901
5    14.149549
6    15.622920
Name: tip_percentage, dtype: float64

#[cuML](https://github.com/rapidsai/cuml)

This snippet does label and one-hot encoding of the tips dataset's categorical features and applies standard scaling to all columns. All operations run on the GPU.

In [0]:
import cuml

# label encode the categorical features of the tips dataset
for col in ['sex', 'smoker', 'day', 'time']:
  le = cuml.preprocessing.LabelEncoder()
  tips_df[col] = le.fit_transform(tips_df[col])

# day and time are non-binary categorical features, one-hot-encode them
tips_df = cudf.get_dummies(tips_df, columns=['day', 'time'])

# do standard scaling on all columns
for col in tips_df.columns:
  tips_df[col] = (tips_df[col] - tips_df[col].mean())/tips_df[col].std()

# inspect the results
tips_df.head().to_pandas()

   total_bill       tip       sex  ...     day_3    time_0    time_1
0   -0.314066 -1.436993 -1.340598  ... -0.582463  0.620307 -0.620307
1   -1.061054 -0.967217  0.742879  ... -0.582463  0.620307 -0.620307
2    0.137497  0.362610  0.742879  ... -0.582463  0.620307 -0.620307
3    0.437416  0.225291  0.742879  ... -0.582463  0.620307 -0.620307
4    0.539635  0.442111 -1.340598  ... -0.582463  0.620307 -0.620307

[5 rows x 12 columns]

## K-Nearest Neighbors
Lastly, create a K-Nearest Neighbors model and find the 5 most similar tippers.

In [0]:
# create a KNN model
knn = cuml.NearestNeighbors()
knn.fit(tips_df)

# find 5 nearest neighbors
k = 5
distances_df, indices_df = knn.kneighbors(tips_df, k)
indices_df.head().to_pandas()

   0    1    2    3    4
0  0  162   16   12  166
1  1   53   10  152  151
2  2  165  152  160   55
3  3   45  113   49   55
4  4  157  114   11   52

##Determining Feature Importance with XGBoost

Lastly, we can use [XGBoost](https://github.com/dmlc/xgboost)'s GPU accelerated decision trees to determine which features have the greatest impact on tip percentage.

In [0]:
import xgboost as xgb

params = {
  'n_gpus':       1,
  'tree_method':  'gpu_hist',
  'objective':    'reg:squarederror'
}

X_feature_names = ["total_bill", "sex", "smoker", "size",
                   "day_0",    "day_1",    "day_2", "day_3",
                   "time_0",    "time_1"]

X_train = tips_df[X_feature_names]
y_train = cudf.DataFrame({'y': tips_df['tip_percentage']})

# Convert to XGBoost's DMatrix format and train the model
dmatrix_train = xgb.DMatrix(X_train,
                            label=y_train,
                            feature_names=X_train.columns)

bst = xgb.train(params, dmatrix_train)

# See what data is the most important for predicting % tipped
xgb.plot_importance(bst)

TypeError: ignored

#[cuGraph](https://github.com/rapidsai/cugraph)

Like the cuDF snippet above, this code loads a CSV file from a URL, then dives into cugraph to computes the PageRank score for each vertex.  Those scores are then used as weight to compute the Weighted Jaccard Similarity which is used to find the most common nodes in the Epinions dataset.

In [0]:
import cugraph, cudf
import gzip, io, requests
from collections import OrderedDict

# download some data
url="https://snap.stanford.edu/data/soc-Epinions1.txt.gz"
content = gzip.decompress(requests.get(url).content).decode()

cols = ["src", "dst"]
dtypes = OrderedDict([ ("src", "int32"), ("dst", "int32")])
# read the CSV data from memory buffer
gdf = cudf.read_csv(io.StringIO(content), names=cols, delimiter='\t', dtype=list(dtypes.values()), skiprows=4)

# create a Graph 
G = cugraph.Graph()
G.add_edge_list(gdf["src"], gdf["dst"])

# Call Pagerank on the graph to get weights to use:
pr_df = cugraph.pagerank(G)

# find the max page rank value - there could be more than one with the max score
pr_max = pr_df['pagerank'].max()

pr_filtered = pr_df.query('pagerank >= @pr_max')
    
for i in range(len(pr_filtered)):
    print("PageRank: top vertex is " + str(pr_filtered['vertex'][i]) + 
        " with score of " + str(pr_filtered['pagerank'][i]))  

# Call weighted Jaccard using the Pagerank scores as weights:
# https://github.com/rapidsai/cugraph/issues/398
df = cugraph.jaccard_w(G, pr_df['pagerank'])

max_coeff = df['jaccard_coeff'].max()
j_gdf = df.query('jaccard_coeff >= @max_coeff')

for i in range(len(j_gdf)):
    print("Weighted Jaccard Similarity: Vertices " + str(j_gdf['source'][i]) + 
      " and " + str(j_gdf['destination'][i] ) + 
      " are most similar with score: " + str(df['jaccard_coeff'][i]))

PageRank: top vertex is 18 with score of 0.004534927
Weighted Jaccard Similarity: Vertices 22693 and 57123 are most similar with score: 0.26571962

# Next Steps #

For an overview of how you can access and work with your own datasets in Colab, check out [this guide](https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92).

For more RAPIDS examples, check out our RAPIDS notebooks repos:
1. https://github.com/rapidsai/notebooks
2. https://github.com/rapidsai/notebooks-extended